/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  justify-content: space-around;
  align-items: center;
  letter-spacing: normal;
  padding:92px 50px ; 
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__links-list { 
  display: flex;
  flex-direction: row;
  gap: 35px;
  font-size:18px;
  line-height: 24px;
  align-items: center;
}
 
.header__link {
  font-size: 18px ;
  line-height: 22px;
  text-underline-offset: 3px;
  text-decoration: underline;
  list-style: circle ; 
}

.header__links-list-item_no-bullet { 
  list-style: none;
}

.header__link_active { 
  text-decoration: none ;
}

.header__links-list-item {
  list-style: circle;
  text-decoration-thickness:1.5px;
}

.header__logo{
  display: flex;
  justify-content: center;
}

.header__logo-image {
  height: 104.65px;
}

.address {
  font-size: 18px;
  line-height: 24px;
  text-underline-offset: 4px;
  font-style: inherit;
  justify-self: flex-end;
  text-decoration-thickness: 1.5px;
}

.address_header {
  margin-right: 35px;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  min-height: 757px;
  z-index: 1;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 0.6);
  inset: 0;
}
 
.cover__title {
  padding-top: 165px;
  padding-left: 50px;
  position: relative;
  inset: 0;
  font-size: 100px;
  color: #FFFFFF;
  letter-spacing: 31px;
}

.aligned-text {
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  display: block;
  text-align: center;
  margin-top: 20px;
  line-height: 115%;
}

.aligned-text_right {
  display: block;
  text-align: right;
  margin-right: 50px;
  margin-top: 20px;
  line-height: 115%;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing{
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  align-items: center;
  top: 85%;
  position: relative;
  color: #FFFFFF;
  font-size: 22px;
  /*margin-bottom: 61px;*/
  margin-left: 50px;
  font-weight: 400;
}

.cover__description-text {
  word-spacing: 19px; 
  padding-right: 90px;
  margin-top: 106px;
}

.bet-button {
  word-spacing: 1px;
  border: 1px solid currentColor;
  padding: 12px 32px 11px 31px;
  margin-top: 106px;
}

.lots {
  list-style: initial;
  margin: 180px 24px 118px;
}

.lots__heading {
  font-size: 40px;
  padding-left: 40px;
  font-weight:700;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type : none;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  padding: 49px 40px;
  font-size: 20px;
  height: 100%;
}

.card_type_film {
  background-image: url("../images/photo.svg");
}

.card_type_book {
  background-image: url("../images/photo\ \(1\).svg");
}

.card_type_picture {
  background-image: url("../images/photo\ \(2\).svg");
}

.card__text {
  display: flex; 
  position: relative;
  font-weight: 400;
  Line-height: 24px;
  margin-bottom: 48px;
  text-align:unset;
}

.card__title {
  position: absolute;
  font-size: 22px;
  font-weight: 700;
  text-decoration-line: underline;
  text-underline-offset: 5px;
  padding-right: 40px;
  Line-height: 26.4px;
  text-decoration-skip-ink: none;
  text-decoration-style: solid;
  text-decoration-thickness:1.5px;
  text-transform:uppercase;
}

.card_1 {
  top: 334px;
}

.card_2 {
  top: 140px;
}

.card_3 {
  top: 233px;
}

.lots__look-more-link {
  font-weight: 400;
  text-decoration-line: underline;
  font-size: 20px;
  Line-height: 23.48px;
  margin-left: 40px;
  text-underline-offset: 4.50px;
  text-decoration-thickness:1.5px;
}

.about {
  display: grid;
  grid-template-columns: 0.90fr 2fr;
  margin: 0px 24px ;
  margin-bottom: 180px;
  padding: 35px 0 0 47px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000000;
}

.about__logo-image { 
  padding: 64px 45.52px 62px 46.48px;
}

.about__title {
  padding: 101px 402px 100px 0;
  font-size: 40px;
  font-weight: 700;
  Line-height: 46.96px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  font-size: 20px;
  Line-height: 24px; 
}

.about-one {
  padding-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 50px 0;
}

.footer__menu {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 21.13px;
  text-underline-offset: 4px;
  font-weight: 400;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link_active{
text-decoration: none;
}

.footer__social-list {
  position:relative;
  display: flex;
  list-style-type: none;
  gap: 48px;
}

.footer_icon {
  margin-left: 85px;
}

.footer__social-icon {
  display: flex;
  justify-content: center;
}

